.gameMainDiv {
  h1 {
    font-size: 32px;
    margin-bottom: 24px !important;
  }
  .gameCard {
    height: 256px;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    border-radius: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 20px;
    &:nth-child(4n) {
      padding-right: 0 !important;
    }
    @media screen and (max-width: 992px) {
      &:nth-child(4n) {
        padding-right: 20px !important;
      }
      &:nth-child(3n) {
        padding-right: 0px !important;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 0 !important;
      &:nth-child(4n) {
        padding: 0px !important;
      }
      &:nth-child(3n) {
        padding: 0px !important;
      }
    }
    img {
      height: 100% !important;
      width: 100% !important;
      object-fit: fill;
      border-radius: 24px !important;
    }
  }
}
